# Visual Studio Code

BGTest.API/.vscode/
BGTest.Application/.vscode/
BGTest.Core/.vscode/
BGTest.Infrastructure/.vscode/
BGTest.Tests/.vscode/
.vscode/

# Rider
BGTest.API/.idea/
BGTest.Application/.idea/
BGTest.Core/.idea/
BGTest.Infrastructure/.idea/
BGTest.Tests/.idea/
.idea/

# Visual Studio
BGTest.API/.vs/
BGTest.Application/.vs/
BGTest.Core/.vs/
BGTest.Infrastructure/.vs/
BGTest.Tests/.vs/
.vs/

# Build results
app/


[Db]ebug/
[Db]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
BGTest.API/build/
BGTest.Application/build/
BGTest.Core/build/
BGTest.Infrastructure/build/

BGTest.API/bld/
BGTest.Application/bld/
BGTest.Core/bld/
BGTest.Infrastructure/bld/
BGTest.Tests/bld/

BGTest.API/[Bb]in/
BGTest.Application/[Bb]in/
BGTest.Core/[Bb]in/
BGTest.Infrastructure/[Bb]in/
BGTest.Tests/[Bb]in/

BGTest.API/[Oo]bj/
BGTest.Application/[Oo]bj/
BGTest.Core/[Oo]bj/
BGTest.Infrastructure/[Oo]bj/
BGTest.Tests/[Oo]bj/

BGTest.API/.DS_Store/
BGTest.Application/.DS_Store/
BGTest.Core/.DS_Store/
BGTest.Infrastructure/.DS_Store/
BGTest.Tests/.DS_Store/

BGtest.API/logs

[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates